@tailwind base;
@tailwind components;
@tailwind utilities;

.deactive{
    scale:0;
    transition:0.2s ease-out;
}
#content{
    backdrop-filter:blur(20px);

    
}
.b{
    filter:blur(3px);
}

.mdl{
    border-bottom:1px solid grey;
}

.active{
    scale:1;
    transition-duration:0.4s;
    transition:0.4s;
}


.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(16, 15, 15, 0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
   pointer-events:none;
  }

  @keyframes tp {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
  }

  @keyframes btm {
    0%   {bottom: 0px;}
    25%  {bottom: 200px;}
    75%  {bottom: 50px}
    100% {bottom: 100px;}
  }


  @keyframes lft {
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: 50px}
    100% {left: 100px;}
  }

  @keyframes rt {
    0%   {right: 0px;}
    25%  {right: 100px;}
    75%  {right: 50px}
    100% {right: 90px;}
  }

  

  .upper{
    animation:tp 13s infinite;
  }

  .lower{
    animation:btm 13s infinite;
  }

  .Right{
    animation:rt 13s infinite;
  }

  .Left{
    animation:lft 13s infinite;
  }